__pycache__
*/__pycache__/*
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.idea*
*/.idea*/*
.DS_Store
*/.DS_Store/*
/runs/
/build/
/concept-detection/resources/
/radiclef.egg-info/
/concept-detection/radiclef/experiments/conv_to_cui_seq/runs/
